<div class="registerContainer">
  <mat-card class="matCard">
    <mat-card-title>
      <h2>Contact Us</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <h3>We'll answer any questions you have just give us a shout!</h3>
    </mat-card-subtitle>
    <mat-card-content>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. Nick@gmail.com">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Ex. Nick">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Message</mat-label>
          <textarea matInput placeholder="Your products great!"></textarea>
        </mat-form-field>
        <a mat-raised-button color="accent" id="registerButton" routerLink="/contact-confirmation-component">Send Message</a>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<router-outlet></router-outlet>