<div class="registerContainer">
  <mat-card class="matCard">
    <mat-card-title>
      <h2>Thanks for the response!</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <h3>We'll get back to you as soon as we can, we appreciate the feedback</h3>
    </mat-card-subtitle>
    <mat-card-content>
      <a mat-raised-button color="primary" id="registerButton" routerLink="/login-component">Login</a>
      <a mat-raised-button color="accent" id="registerButton" routerLink="/register-component">Register</a>
    </mat-card-content>
  </mat-card>
</div>
<router-outlet></router-outlet>