.registerContainer {
  height: 93.5%;
  overflow: hidden;
  margin: auto;
  background-color: #3B479D;
}

.matCard {
  max-width: 550px;
  min-width: 300px;
  width: 100%;
  padding: 5em;
  margin: 0 auto;
  margin-top: 7em;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

h2 {
  font-size: 50px;
  line-height: 1.5em;
}

#registerButton {
  width: 100%;
}
