h1 {
  font-size: 50px;
  color: #36F2FE;
}

h2 {
  font-size: 30px;
}
p {
  font-size: 1.5em;
  min-height: 3em;
  line-height: 1.5em;
}
.landingText {
  color: #36F2FE;
}
#landingContainer {
  height: 100%;
  background-color: #392261;
  padding: 5em;
}
.mat-grid-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.landingActions {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landingContent {
  background: #0D0F21;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #36F2FE;
}

.mat-grid-tile {
  max-width: 40em;
}