<div class="registerContainer">
  <h2>Register</h2>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ex. Nick@gmail.com">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Ex. Nick">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Ex. Chinsen">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Location</mat-label>
      <input matInput placeholder="Ex. Toronto">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Ex. Real Hard Password">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password Confirm</mat-label>
      <input matInput placeholder="Ex. Matches Hard Password">
    </mat-form-field>
  </form>
</div>

