<div class="registerContainer">
  <mat-card class="matCard">
    <mat-card-title>
      <h2>Register</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <h3>And Start Chasing Today!</h3>
    </mat-card-subtitle>
    <mat-card-content>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. Nick@gmail.com">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Ex. Nick">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Ex. Chinsen">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Location</mat-label>
          <input matInput placeholder="Ex. Toronto">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Ex. Real Hard Password">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password Confirm</mat-label>
          <input matInput placeholder="Ex. Matches Hard Password">
        </mat-form-field>
        <a mat-raised-button color="primary" id="registerButton" routerLink="/dashboard-component">Register</a>
        <a mat-raised-button color="accent" id="registerButton" routerLink="/login-component">Login</a>
      </form>
    </mat-card-content>
  </mat-card>
</div>

