h2 {
  font-size: 50px;
  padding-left: 160px;
}

.loginContainer {
  height: 93.5%;
  overflow: hidden;
  margin: auto;
  background-color: #3B479D;
}

.loginMatCard {
  max-width: 550px;
  min-width: 300px;
  width: 100%;
  padding: 5em;
  margin: 0 auto;
  margin-top: 7em;
}

.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.login-full-width {
  width: 100%;
  padding-top: 25px;
}

#loginButton {
    width: 100%;
    margin-top: 32px;
}

#signupButton {
    width: 100%;
    margin-top: 20px;
}

p {
    font-size: 20px;
    color: #555555;
    padding-top: 20px;
    text-align: center;
}
