h2 {
  font-size: 50px;
  padding-left: 160px;
}

.loginContainer {
  min-width: 200px;
  max-width: 550px;
  width: 100%;
  margin: auto;
  padding-top: 10em;
  padding-bottom: 40px;
  padding-right: 100px;
}

.loginMatCard {
  max-width: 550px;
  min-width: 300px;
  width: 100%;
  padding: 5em;
}

.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.login-full-width {
  width: 100%;
  padding-top: 25px;
}

#loginButton {
    width: 100%;
    margin-top: 32px;
}

#signupButton {
    width: 100%;
    margin-top: 20px;
}

p {
    font-size: 20px;
    color: #555555;
    padding-top: 20px;
    text-align: center;
}
